<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="ClientDbContext" connectionString="Data Source=C:/Users/huzha/WorkSpace/FutureXClient/Micro.Future.LocalStorage/Data/clientcache.db" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
</configuration>
