<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  	<add key="AspNetCI" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  	<add key="dotnet-core-rel v3" value="https://dotnet.myget.org/F/dotnet-core-rel/api/v3/index.json" />
    <add key="aspnetmaster v3" value="https://www.myget.org/F/aspnetmaster/api/v3/index.json" />
    <add key="aspnetrelease v3" value="https://www.myget.org/F/aspnetmaster/api/v3/index.json" />
    <add key="aspnetrc2 v3" value="https://www.myget.org/F/aspnetrc2/api/v3/index.json" />
  </packageSources>
</configuration>